<%-include('admin_dashboard_header.ejs')%>

<div
  class="content-wrapper iframe-mode"
  data-widget="iframe"
  data-loading-screen="750"
>
  <div class="container">
    <h1 align="center" class="mt-3">Edit products</h1>

    <form action="/edited_watch" method="post" class="p-3 m-2">
      <!-- <label class="form-label"
        >Enter the product Id which you want to edit?</label
      > -->
      <input
        type="text"
        class="form-control"
        required
        hidden
        name="product_id"
        value="<%=data[0].Product_id%>"
      /><br />

      <label class="form-label">Product name</label>
      <input
        type="text"
        class="form-control"
        required
        placeholder="Enter product name"
        name="product_name"
        value="<%=data[0].Product_name%>"
      /><br />

      <label class="form-label">Product price</label>
      <input
        type="text"
        class="form-control"
        required
        placeholder="Enter product price"
        name="product_price"
        value="<%=data[0].Product_price%>"
      /><br />

      <label class="form-label">Product Stock Available</label>
      <input
        type="text"
        class="form-control"
        required
        placeholder="Enter product stock available"
        name="product_stock"
        value="<%=data[0].Stock_availability%>"
      /><br />

      <!-- <label class="form-label">Product image</label> -->
      <!-- <input type="file" class="form-control" required name="image" value="../public/upload_images/<%=data[0].Product_image%>" /><br /> -->

      <label class="form-label">Product type</label>
      <select required name="product_type" class="form-control">
        <option selected>
          <%=data[0].Product_type%>
        </option>
        <option>Digital Watches</option>
        <option>Smart Watch</option>
        <option>Dress Watches</option>
        <option>Field Watch</option>
        <option>Chronograph Watch</option>
        <option>Swiss Watches</option></select
      ><br />

      <label class="form-label">Product description</label>
      <input
        type="text"
        class="form-control"
        required
        name="product_description"
        value="<%=data[0].Product_description%>"
      />
      <br />
      <button class="btn btn-success">save now</button>
    </form>
  </div>
</div>

<%-include('admin_dashboard_footer.ejs')%>
